/* .main-btns{
    display: flex;
} */
body{
    background-color:blue;
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.send-massage{
    margin-top: 35%;
    display: flex;
    justify-content:center; 
    align-items:center;
    flex: 1;

}
.massage-status{
    margin-top: 10px;
    display: flex;
    justify-content:center; 
    align-items:center;
    flex: 1;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    margin-top: 5px;
    color: aqua;
}